<!-- <h1>my project</h1>
<app-first></app-first>
<app-ex-1></app-ex-1> -->
<!-- <app-login></app-login>
<app-login2></app-login2> -->
<!-- <app-structure-ng-for></app-structure-ng-for> 
 <app-struct-ng-if></app-struct-ng-if>  -->
 <!-- <app-newhead></app-newhead>  -->

<!-- <h2>
    <a routerLink="/c1">c1</a> | 
    <a routerLink="/c2">c2</a> | 
</h2> -->
<!-- <h2>
    <a routerLink="/alpha">Student Name</a>  |
    <a routerLink="/beta">Student Registration</a>
</h2> -->
 <!-- <h2>
    <a routerLink="/api1">API1</a>
</h2>  -->
<!-- <h2>
    <a routerLink="/pro1"></a>  
    <a routerLink="/pro2"></a>
</h2> -->
<!-- <h2>
    <a routerLink="/transpar">Parent</a>  |
    <a routerLink="/transch">Child</a>
</h2> -->

<!-- <h2>
    <a routerLink="/flower_list"> Flower List</a>  |
    <a routerLink="/flower_data"> Flower Data</a>
</h2> -->
<h2>
    <a routerLink="/home3"></a> 
    <a routerLink="/login3"></a> 
    <a routerLink="/header"></a> 
    <a routerLink="/movie"></a> 

</h2>

<h2>
    <a routerLink="/crud1"></a>
    <a routerLink="/employeedashboard"></a>
    <a routerLink="/emp-details"></a>
    <a routerLink="/empdetails-post"></a>
    <a routerLink="/digi-assignment"></a>
    <a routerLink="/bar"></a>
    <a routerLink="/pie"></a>
    <a routerLink="/scatter"></a>

</h2>
<router-outlet></router-outlet>
<!-- <app-c1></app-c1> -->
<!-- <app-c2></app-c2> -->