<p>transfer-ch works!</p>
<button class="btn btn-info btn-lg px-2 py-3" (click)="oninc_ch()">Trigger INCREAMENT from Child</button>
<!-- <br><br><br>
<button class="btn btn-info btn-lg px-2 py-3" (click)="oninc_ch2()">Trigger DECREAMENT from Child</button>
<br><br><br> -->
<input type="text" placeholder="Enter Inc Value" [(ngModel)]="valin">
<button class="btn btn-warning btn-lg px-2 py-3" (click)="on_val_inc_ch()">Trigger INCREAMENT from Child with a value</button>
<br><br><br>
<input type="text" placeholder="Enter Dec Value" [(ngModel)]="valde">
<button class="btn btn-warning btn-lg px-2 py-3" (click)="on_val_dec_ch()">Trigger DECREAMENT from Child with a value</button>